#logo-wrapper {
    position: relative;
    top: 264px;
    height: 335px;
    width: 280px;
    margin: 0 auto;
}

#logo-wrapper img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#logo-wrapper img.top:hover {
    opacity:0;
}

#top-bar {
    height: 72px;
    width: 100%;
    box-shadow: 0 4px 5px 0px rgba(0, 0, 0, .1);
}
#top-bar ul {
    float: right;
    list-style-type: none;
    margin-right: 130px;
    margin-top: 23px;
}
#top-bar li {
    display: inline-block;
    margin-left: 10px;
}
#top-bar a {
    color: #ff3db4;
    transition: all 0.2s linear;
}
#top-bar a:hover {
    color: #bababa;
}