#logo-wrapper {
    position: relative;
    top: 264px;
    width: 340px;
    margin: 0 auto;
    max-width: 90%;
}
@media (max-width: 959px) {
    #logo-wrapper {
        top: 200px;
    }
}
@media (max-width: 767px) {
    #logo-wrapper {
        top: 100px;
    }
}

#logo-wrapper img {
    position: absolute;
    left: 0;
}

#logo-wrapper img.top:hover {
    opacity:0;
}

#top-bar {
    height: 62px;
    width: 100%;
    box-shadow: 0 6px 7px 0px rgba(0, 0, 0, .1);
}
#top-bar ul {
    float: right;
    list-style-type: none;
    margin-right: 130px;
    margin-top: 23px;
}
@media (max-width: 767px) {
    #top-bar ul {
        float: none;
        text-align: center;
        margin: 23px 0 0;
    }
}
#top-bar li {
    display: inline-block;
    margin-left: 10px;
}
#top-bar a {
    color: #ff3db4;
}
#top-bar a:hover {
    color: #bababa;
}
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inherit;
}
.facebook {
    background: url('../images/social/facebook.png') no-repeat;
    height: 26px;
    width: 27px;
}
.facebook:hover {
    background: url('../images/social/facebook-hover.png') no-repeat;
}
.instagram {
    background: url('../images/social/instagram.png') no-repeat;
    height: 26px;
    width: 27px;
}
.instagram:hover {
    background: url('../images/social/instagram-hover.png') no-repeat;
}
.email {
    width: 33px;
    height: 26px;
    background: url('../images/social/email.png') no-repeat;
}
.email:hover {
    background: url('../images/social/email-hover.png') no-repeat;
}

